@model IEnumerable<BugTrackerApp.Models.Bug>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bugName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeReported)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.programBehaviour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reproduceBehaviour)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeReported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.programBehaviour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reproduceBehaviour)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.bugId }) |
                @Html.ActionLink("Details", "Details", new { id=item.bugId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.bugId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
